extends layout

block content
    .row
        .col-md-12
            .pill-left
                h2 Employees
            .pull-right
                a.btn.btn-primary(href="/addEmployee") Add Employee
            br
            br
            table.table.table-bordered.table-hover
                thead
                    tr
                        th User Id
                        th Job Title
                        th Name
                        th Employee Code
                        th Region
                        th Phone
                        th Email
                tbody
                    each employee in dataset.Employees
                        tr
                            td #{employee.userId}
                            td #{employee.jobTitleName}
                            td #{employee.firstName}  #{employee.lastName}
                            td #{employee.employeeCode}
                            td #{employee.region}
                            td #{employee.phoneNumber}
                            td #{employee.emailAddress}